.profile {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile .profileContainer {
  width: 65%;
  border: 1px solid black;
}

.profile .profileContainer .profileHeader {
  display: flex;
  padding: 20px 40px;
}

.profile .profileContainer .profileHeader .proLeft img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile .profileContainer .profileHeader .proRight {
    margin-left: 150px;
}

.profile .profileContainer .profileHeader .proRight .proSetting {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.profile .profileContainer .profileHeader .proRight .proSetting .editProfile {
  margin-left: 20px;
  background-color: rgba(216, 216, 216, 0.467);
  padding: 8px 12px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
}

.profile .profileContainer .profileHeader .proRight .proSetting .setting {
  margin-left: 15px;
  font-size: 20px;
}

.profile .profileContainer .profileHeader .proRight .profileInfo {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 40px;
}

.profile .profileContainer .profileHeader .proRight .profileInfo .followers {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile .profileContainer .line {
  height: 1px;
  background-color: rgb(230, 230, 230);
}

.profile .profileContainer .postGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  gap: 5px;
}

.post1,
.post2,
.post3 {
  border: 1px solid black;
  height: 310px;
  width: 310px;
}
