.reels {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.reels .reelContainer {
  position: relative;
  height: 750px;
  width: 500px;
}

.reels .reelContainer .videoContainer {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  width: 450px;
  height: 750px;
  background-color: #d1d1d1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reels .reelContainer .videoContainer .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reels .reelContainer .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.reels .reelContainer .content .user {
  display: flex;
  align-items: center;
}

.reels .reelContainer .content .user > * {
  margin-right: 10px;
}

.reels .reelContainer .content .user span {
  font-weight: bold;
  margin-right: 10px;
}

.reels .reelContainer .content .user .followBtn {
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid rgba(235, 235, 235, 0.823);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.reels .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 480px 0px 0px -25px;
}

.reels .options .option {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 0;
  font-size: 25px;
  margin-top: 15px;
}

.reels .options:nth-child(1),
.options:nth-child(2) p {
  font-size: 12px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title p {
  font-size: 14px;
  margin-bottom: 10px;
}

.music {
  font-size: 12px;
}
