.notification {
  height: 99vh;
  width: 18%;
  border: 1px solid rgb(237, 237, 237);
  margin: 0px;
}

.notification .line {
  height: 1px;
  background-color: rgba(212, 210, 210, 0.491);
  margin: 20px 0px;
}

.notification .thisWeek .week {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.notification .thisWeek .week .proPic {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification .thisWeek .week .proPic img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.notification .thisWeek .week .info .userName {
  font-size: 18px;
  font-weight: 550;
}

.notification .thisWeek button {
  padding: 8px 20px;
  background-color: rgb(54, 103, 252);
  color: white;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.notification .thisMonth .month {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.notification .thisMonth .month .proPic {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification .thisMonth .month .proPic img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.notification .thisMonth .month .info .userName {
  font-size: 18px;
  font-weight: 550;
}

.notification .thisMonth img {
  height: 50px;
  width: 50px;
}
