.post {
  height: auto;
  width: 100%;
  display: flex;
  gap: 15rem;
  justify-content: center;
  padding: 20px 0px;
}

.stories-Posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories-Posts .stories {
  display: flex;
  gap: 0.2rem;
}

.stories-Posts .stories .profile {
  padding: 0.5rem 0.5rem;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}

.stories-Posts .posts {
  height: 42rem;
  width: 28rem;
  margin-bottom: 10px;
}

.stories-Posts .posts .top {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.stories-Posts .posts .top .topLeft {
  display: flex;
  align-items: center;
}

.stories-Posts .posts .top .topLeft .userName {
  display: flex;
  padding: 0rem 0.5rem;
  justify-content: center;
  gap: 0.2rem;
}

.stories-Posts .posts .center {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(223, 223, 223, 0.866);
}

.stories-Posts .posts .bottom {
  padding: 0.5rem 1rem;
}

.stories-Posts .posts .bottom .options {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  align-items: center;
}

.stories-Posts .posts .bottom .options .optionsLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stories-Posts .posts .bottom .caption .summary {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  margin-bottom: 0.2rem;
}

.stories-Posts .posts .bottom .caption .viewComment {
  padding: 0.3rem 0rem;
  color: rgb(111, 111, 111);
  font-size: 15px;
}

.stories-Posts .posts .bottom .caption .addComment textarea {
  background-color: inherit;
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}

.container .suggestions {
  display: flex;
  justify-content: space-between;
  top: 2%;
  right: 5%;
  width: 360px;
  height: 50px;
  align-items: center;
  padding: 0.7rem 1rem;
}

.container .suggestions .suggLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
