.signUp .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh;
  border: 1px solid black;
}

.signUp .container .page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 30px; */
  width: 300px;
  height: 600px;
  border: 1px solid rgb(219, 219, 219);
  margin-top: 30px;
  padding: 10px 20px;
}

.signUp .container .page .header {
  text-align: center;
  width: 100%;
  height: 40%;
}

.signUp .container .page .header button {
  width: inherit;
  font-size: 16px;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0095f6;
  color: #ffff;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
}

.signUp .container .page .header .hline {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  margin-top: 20px;
  color: #8e8e8e;
}

.signUp .container .page .header .hline .line {
  height: 1px;
  width: 40%;
  background-color: rgb(209, 209, 209);
}

.signUp .container .page .container {
  width: 100%;
  height: 60%;
  padding: 10px;
}

.signUp .container .page .container p {
  text-align: center;
}

.signUp .container .page .container form,
input {
  width: inherit;
}

.signUp .container .page .container form input {
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  padding: 10px 0px;
  margin: 5px 0;
  text-indent: 10px;
  border-radius: 5px;
}

.signUp .container .page .container button {
  width: inherit;
  font-size: 14px;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0095f6;
  color: #ffff;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.signUp .container .option {
  height: 50px;
  width: 300px;
  border: 1px solid rgb(224, 224, 224);
  margin: 10px 0px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.signUp .container .otherApps {
  text-align: center;
  width: 280px;
  cursor: pointer;
}

.signUp .container .otherApps p {
  font-size: 15px;
}

.signUp .container .otherApps .storeImg {
  display: flex;
  justify-content: space-around;
}
